/.vs
/Debug
/ShortHaracteristic/Debug
/ShortHaracteristic/Release
/ShortHaracteristic/ShortHaracteristic.vcxproj 
/ShortHaracteristic/ShortHaracteristic.vcxproj.filters
/ShortHaracteristic/ShortHaracteristic.vcxproj.user